{% extends 'basicLayout.html' %}
{% set header = "需求管理" %}

{% block nested %}
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <ul class="breadcrumb col">
                <li><a href="/post/myProjects?page=1">我的项目</a></li>
                <li><a href="/post/project?pid={{ project.pid }}&page=1">项目详情</a></li>
                <li><a href="/projectManagement?pid={{ project.pid }}">项目管理</a></li>
                <li class="active">{{ header }}</li>
            </ul>
            <div class="col-sm-4">
                <h1>{{ header }}</h1>
            </div>
            <div class="col-sm-8">
                <button type="button" class="btn btn-default pull-right" onclick="goToCreateRequirement({{ project.pid }})">添加需求</button>&nbsp;
                <button type="button" class="btn btn-default pull-right" onclick="goToManageRequirement({{ project.pid }})">整合需求</button>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="panel-group" id="shoufengqing">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">需求列表</h3>
                    </div>
                    <div class="panel-body">
                        {% if requirementList and requirementList|count > 0 %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>需求名称</th>
                                    <th>需求描述</th>
                                    <th>提供者</th>
                                    <th>发布时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for requirement in requirementList %}
                                <tr>
                                    <td>{{ requirement.rname }}</td>
                                    <td>{{ requirement.description }}</td>
                                    <td>{{ requirement.uid }}</td>
                                    <td>{{ requirement.posttime }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="col-sm-offset-1 col-sm-2">
                                <h4>暂无数据</h4>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{{ super() }}
<script type="javascript" src="../static/js/requirementManagement.js"></script>
{% endblock %}


